.alert {
    position: relative;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    font-size: 1.6rem;

    &-primary {
        color: mix(black, $primary, 25%);
        background-color: mix(white, $primary, 85%);
        border: mix(white, $primary, 45%) 1px solid;
    }

    &-secondary {
        color: mix(black, $secondary, 25%);
        background-color: mix(white, $secondary, 85%);
        border: mix(white, $secondary, 45%) 1px solid;
    }

    &-success {
        color: mix(black, $success, 25%);
        background-color: mix(white, $success, 85%);
        border: mix(white, $success, 45%) 1px solid;
    }

    &-error {
        color: mix(black, $danger, 25%);
        background-color: mix(white, $danger, 85%);
        border: mix(white, $danger, 45%) 1px solid;
    }

    &-info {
        color: mix(black, $info, 25%);
        background-color: mix(white, $info, 85%);
        border: mix(white, $info, 45%) 1px solid;
    }

    &-warning {
        color: mix(black, $warning, 25%);
        background-color: mix(white, $warning, 85%);
        border: mix(white, $warning, 45%) 1px solid;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
        padding: 1.2rem 2rem;
        color: inherit;
        background-color: transparent;
        border: 0;
        font-size: 2.4rem;
        font-weight: 100;
        line-height: 1;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }

        &:focus,
        &:active {
            outline: none;
        }
    }
}