.form {
    &__title {
        margin-bottom: 5rem;
        font-size: 5rem;
    }

    &__text {
        margin-bottom: 2rem;
        font-weight: 100;
        font-size: 15px;
    }

    &__err {
        color: $primary;
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        font-size: 1.4rem;
        text-align: center;
    }

    &__group {
        position: relative;
        margin-bottom: 15px;

        /* ===================================
           Inputs and Select
        ==================================== */
        &-input {
            display: block;
            padding: 12px 14px;
            border: 1px solid #dddddd;
            width: 100%;
            line-height: normal;
            resize: none;
            transition: border-color 0.1s ease-in-out;
            background: transparent;
            border-radius: 30px;

            &::placeholder {
                color: #777777;
            }

            &:focus {
                border-color: #5d5a5a;
                outline: none;
            }

            &:not(:placeholder-shown) ~ .form__group-label {
                opacity: 1;
                background: white;
                transform: translateY(0);
            }
        }

        select {
            padding: 8px 14px; // Adjust select to have the same height as inputs
        }

        &-label {
            position: absolute;
            bottom: calc(100% - 8px);
            left: 10px;
            padding: 0 5px;
            line-height: normal;
            color: #777777;
            font-size: 12px;
            opacity: 0;
            background: rgba(255, 255, 255, 0);
            pointer-events: none;
            transform: translateY(3px);
            transition: all 0.3s ease-in-out;
        }

        &-feedback {
            &.invalid {
                color: $grey-900;
            }
        }

        /* ===================================
           Radio Buttons
        ==================================== */

        &-radio {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            margin-right: 30px;
            color: #95A5A6;
            margin-top: 1rem;

            &-label {
                color: #212529;
            }

            &-circle {
                width: 1.25em;
                height: 1.25em;
                border: 1px solid #B9C1C6;
                border-radius: 50%;
                margin-right: 10px;
                padding: 3px;

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    display: block;
                    background: mix(black, $primary, 10%);
                    border-radius: 50%;
                    transform: scale(0);
                    transition: transform 0.15s;
                }
            }

            &-input {
                display: none;

                &:checked+.form__group-radio-circle::after {
                    transform: scale(1);
                }

                &:disabled+.form__group-radio-circle {
                    border-color: #B9C1C6;
                    padding: 0;

                    &::after {
                        transform: scale(1);
                        background: #ECF0F1;
                    }
                }

                &:disabled~.form__group-radio-label {
                    color: #95A5A6;
                }
            }
        }

        /* ===================================
           Checkboxes
        ==================================== */
        &-checkbox {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            margin-top: 10px;
            margin-right: 30px;

            &-input {
                display: none;

                &:checked+.form__group-checkbox-box {
                    background: mix(black, $primary, 10%);
                    border-color: mix(black, $primary, 10%);
                }

                &:checked+.form__group-checkbox-box::after {
                    transform: scale(1);
                }

                &:disabled~.form__group-checkbox-label {
                    color: #95A5A6;
                }
                
                &:disabled+.form__group-checkbox-box {
                    background: #ECF0F1;
                }
            }

            &-box {
                width: 1.25em;
                height: 1.25em;
                border: 1px solid #B9C1C6;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                flex-shrink: 0;
                transition: background 0.15s, border-color 0.15s;
            
                &::after {
                    content: '\2714';
                    font-size: 0.8em;
                    color: #fff;
                    transform: scale(0);
                    transition: transform 0.15s;
                }
            }

        }


        /* ===================================
           Validation
        ==================================== */
        &.invalid {
            .form__group-input {
                border-color: #dd3444;

                &:focus,
                &:active {
                    box-shadow: 0 0 0 3px rgba(221, 52, 68, 0.25);
                }
            }

            .form__group-feedback {
                color: $primary;
                text-align: left;
                margin-bottom: 2.5rem;
                margin-left: 1rem;
                font-size: 1.4rem;
            }
        }
    }
}



/* ===================================
       Validation
 ==================================== */

.valid-feedback {
    color: #57CC9D;
}

.input.valid-feedback {
    border-color: #57CC9D;
}


.input.valid-feedback:focus,
.input.valid-feedback:active {
    box-shadow: 0 0 0 3px rgba(#57CC9D, 0.25);
}

.invalid-feedback {
    color: #DD3444;
}

.input.invalid-feedback {
    border-color: #dd3444;
}

.input.invalid-feedback:focus,
.input.invalid-feedback:active {
    box-shadow: 0 0 0 3px rgba(221, 52, 68, 0.25);
}

/* ===================================
   Default check / radio box
==================================== */
.default-checkbox,
.default-radio {
    margin-right: 10px;
    margin-bottom: 25px;
}

label.default-label {
    margin-right: 30px;
}

.input:disabled,
.select:disabled {
    background: #ECF0F1;
}

.input:disabled::placeholder {
    color: #95A5A6;
}

.toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) /2);
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.toggle-input {
    display: none;
}

.toggle-fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
    margin-right: 10px;
}

.toggle-input:checked~.toggle-fill {
    background: mix(black, $primary, 10%);
}

.toggle-fill::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.toggle-input:checked~.toggle-fill::after {
    transform: translateX(var(--height));
}

.toggle-input:disabled~.toggle-label {
    color: #95A5A6;
}

.toggle-input:disabled~.toggle-fill {
    background: #ECF0F1;
}

/* ===================================
   Radio Group
==================================== */

.radio-group {
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.radio-group-input {
    display: none;
}

.radio-group-label {
    padding: 8px 14px;
    font-size: 1.4rem;
    font-family: inherit;
    color: #fff !important;
    background: $primary;
    cursor: pointer;
    transition: background .1s;
}

.radio-group-label:not(:last-of-type) {
    border-right: 1px solid $primary;
}

.radio-group-input:checked+.radio-group-label {
    background: mix(black, $primary, 10%);
}


/* ===================================
   File upload
==================================== */

.file-label {
    margin-left: 15px;
    color: #95A5A6;
}