.locations {

    &__col {
        width: 250px;
        height: 84vh;
        padding-right: 30px;
        padding-left: 15px;
        border-right: 1px solid $grey-light;
        display: inline-block;
    }

    &__item {
        transition: all 0.2s;
        margin-bottom: 5px;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        

        &--active {
            background-color: #eff6ff;
            font-weight: 600;
            color: #334155;
        }

        &--hover {
            background-color: #fed7aa;
        }
    }
}